<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>
    {#comentario jinga2#}
    <p>
        modelo
    </p>
    <p>
        {{a+b}}
    </p>

    {% if b>a %} 
        <p>Olá</p>
    {%else%} 
        <p>Ok</p>
    {%endif%}
    <hr>

    <table>
        {%for k, v in query.items()%}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>